@import url('https://fonts.googleapis.com/css?family=Permanent+Marker|Quicksand|Roboto');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /*border: 1px solid green;*/
}

body {
  font-family: Roboto, sans-serif;
  color: #E6E6E6;
}

a:link, a:hover, a:visited, a:active {
  text-decoration: none;
  color: #E6E6E6;
}

header, section, footer {
  width: 90%;
  margin: 0 4em;
}

header {
  background-color: #EEE;
  height: 25vh;
}

#header-title {
  font-family: "Permanent Marker", sans-serif;
  font-size: 3.5em;
  width: 55%;
  float: left;
  margin-left: 4%;
  color: rgb(150, 0, 0);
  text-shadow: 1px 2px 1px rgba(0, 0, 0, 0.7);
}

#header-menu {
  float: left;
}

#header-menu ul {
  padding: 0;
  list-style-type: none;
  float: left;
}

#header-menu ul li {
  float: left;
  font-size: 1.3em;
  padding: 0.7em;
  width: 4.8em;
  text-align: center;
  margin-right: 1.6em;
  background-color: #181818;
  box-shadow: 0 1px 20px rgba(0, 0, 0, 0.8);
  border-radius: 10px;
}

section {
  background-color: #181818;
  height: 55vh;
}

#text-content {
  width: 70%;
  float: left;
  margin-left: 4%;
  margin-top: 8%;
  float: left;
}

#text-content p {
  font-family: Quicksand, sans-serif;
  font-size: 1.2em;
  text-align: center;
  margin-bottom: 1em;
}

#header-title, #header-menu {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

#image-content {
  width: 15em;
  float: left;
  margin-top: 2%;
  margin-left: 2%;
  overflow: hidden;
}

#image-content img {
  width: 100%;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
  border-radius: 100%;
}

#image-content p {
  text-align: center;
  margin-top: 3%;
}

#image-content p.title {
  font-family: "Permanent Marker", sans-serif;
  font-size: 1.2em;
}

footer {
  height: 20vh;
  background-color: rgb(150, 0, 0);
}

#footer-content {
  display: flex;
  width: 70%;
  margin: 0 auto;
  position: relative;
  top: 2em;
}

.footer-list {
  width: 33.33%;
}

.footer-list ul {
  list-style-type: none;
}

.footer-list ul li {
  text-align: center;
  height: 1.6em;
}